@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('/melodywave-fe/src/font/Geist-Black-BF6569491cec591.otf');


.geist-regular{
  font-family: 'Geist-Black, sans-serif';
}
  .glass-container{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(7px);
  }

  .glassycard {
    padding: 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
  }

  .glassycard:hover{
    background: rgba(255, 255, 255, 0.2
    );
  }

  .features {
    position: relative;
    clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 90%);
  }
  #about{
     position: relative;
    clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 90%);
  }
  @media (max-width:643px) {
    #about{
      clip-path: polygon(0 0, 100% 9%, 100% 100%, 0 90%);

    }
    .funmi-card{
      
      z-index: 9 !important;
    }
    
  }
 .logform{
  background: rgba(255, 255, 255, 0.1);
backdrop-filter: blur(5px);


 }