@tailwind base;
@tailwind utilities;
@tailwind components;

.logform{
      background-color:rgb(225, 225, 225, 0.13);
      backdrop-filter: blur(5px);
}
.log-icon{
      z-index: 2;
}
.glassycard{
      background-color:rgb(225, 225, 225, 0.14);
      color: white;
      border-radius: 10px;
}
.glassycard :hover{
      /* background-color:rgb(225, 225, 225, 0.1); */

}